*.DS_store
*.log
*.sublime*

/node_modules/
/app/components
/dist/
/test/output/
/.sass-cache/
/.tmp/
/gzip/

node_modules
npm-debug.log
start.sh
.avoscloud
.leancloud
.DS_Store
*.log

# VIM
*~
*.swp
